<script>
    var ws = new WebSocket('ws://63.33.99.76:40510');
    // event emmited when connected
    ws.onopen = function () {
        console.log('websocket is connected ...')
        // sending a send event to websocket server
        ws.send('connected')
    }
    // event emmited when receiving message 
    ws.onmessage = function (ev) {
        document.getElementById("websocketContent").innerHTML = JSON.stringify(ev.data);
        console.log(ev);
    }
</script>
<div id="websocketContent"></div>